@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bugfast';
    src: url('../../public/fonts/Bugfast.otf');
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden;
  width: 100vw; */
}

.outer-hex {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.inner-hex {
  clip-path: inherit;

}

.box {
  height: 100px;
  width: 100px;
  background: red;
  clip-path: path("M38,2 L82,2 A12,12 0 0,1 94,10 L112,44 A12,12 0 0,1 112,56 L94,90 A12,12 0 0,1 82,98 L38,98 A12,12 0 0,1 26,90 L8,56 A12,12 0 0,1 8,44 L26,10 A12,12 0 0,1 38,2");
}

.btn-con-wallet {
  clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}

.diagonal-box {
  transform: skewY(5deg);
}

/* .carousel, .carousel-bg {
  height: 120vh;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}*/
.carousel {
  box-shadow: inset 0 -18em 6em rgba(0, 0, 0, 0.7);
}

/*
.collection {

  clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  margin-top: -110px;
} */
.collection,
.gal-map,
.archives {
  transform: skewY(5deg);
}

.group,
.opensea,
.gal-map-content,
.archives-content {
  transform: skewY(-5deg);
}

.collection,
.gal-map,
.archives {
  box-shadow: inset -50em 0 6em rgba(0, 0, 0, 0.7);
}

.capsule {
  clip-path: polygon(10% 0%, 100% 0, 100% 75%, 90% 100%, 0 100%, 0 25%);
}

.icon-gray {
  filter: grayscale(100%);
}

.icon-gray:hover {
  filter: none;
}

.char-list::-webkit-scrollbar {
  width: 0 !important;
}

/* .gallery-wrapper {
  clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 100%, 0 100%);
  position: relative;
}
.gallery {
  clip-path: inherit;
  position: absolute;
  top:5px;
  left:5px;
  right:5px;
  bottom: 5px;
} */
.wrapper {
  position: relative;
  border: 1px solid white;
}

.wrapper::after {
  content: " ";
  height: 50px;
  width: 100px;
  position: absolute;
  top: -9px;
  right: -34px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: url('../../public/space-bg-01.jpg');
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}

.char-ip {
  position: relative;
  width: 30%;
  overflow: hidden;
}

.char-ip::before {
  content: " ";
  height: 20px;
  width: 35px;
  position: absolute;
  top: -3px;
  right: -13px;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  background: url('../../public/space-bg-01.jpg');
  border-bottom: 1px solid white;
  transform: rotate(45deg);
}

.char-ip::after {
  content: " ";
  height: 20px;
  width: 35px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  /* clip-path: polygon(50% 0%, 0% 100%, 100% 100%); */
  background: green;
  border-bottom: 1px solid white;
}

/* @media (max-width: 1024px) {
  .carousel, .carousel-bg{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  }
  .collection {
    margin-top: -50px;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 95%);
  }
}
@media (max-width: 900px) {
  .collection {
    margin-top: -52px;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 95%);
  }
}
@media (max-width: 768px) {
  .collection {
    margin-top: -54px;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  }
}
@media (max-width: 453px) {
  .collection {
    margin-top: -75px;
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 95%);
  }
}
.char-list {
  transform: skewY(2.5deg);
} */

/* ----------HEX---------------------------*/

.CollectionPg{
  position: relative;
  display: flex;
  justify-content: center;
}
.CollectionPageImg {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: max-content;
    z-index: 0;
    height: 116%;
    transform: rotate(209deg);
    margin-top: -10%;
    margin-left: 1%;
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 135%;
  z-index: 15;
  height: 123%;
  transform: rotate(209deg);
  margin-top: -10%;
  margin-left: -6%; */
  /* position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 111%;
z-index: 15;
height: 122%;
transform: rotate(209deg);
margin-top: -9%;
margin-left: -5%; */
}


.HexagonCollectionGallery {
  margin-top: 100px;
  transform: rotate(0.5deg);
  height: 78vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 30%;
}

.hexagon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.hexagon,
.hexagon::before,
.hexagon::after {
  width: 17vmax;
  height: 14vmax;
  border-radius: 56%/22%;
}

.hexagon::before {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(-60deg);
}

.hexagon::after {
  background-color: inherit;
  content: "";
  position: absolute;
  left: 0;
  transform: rotate(60deg);
}

.tile {
  display: inline-block;
  margin-left: 13%;
  width: fit-content;
  transform: rotate(150deg);
  margin-top: 100px;
}

.tile:nth-child(4) {
  margin-left: 29%;

}

.tile:nth-child(5n-1) {
  margin-left: 28.3%;
}

.tile:nth-child(n+4) {
  margin-top: -5.6%;

}

@media (max-width: 900px) and (min-width:851px) {
  .tile:nth-child(5n-1) {
      margin-left: 28.7%;
  }
}

@media (max-width: 850px) {

  .hexagon,
  .hexagon::before,
  .hexagon::after {
      width: 13vmax;
      height: 10vmax;
      border-radius: 56%/22%;
  }

  .HexagonCollectionGallery {
      width: 45vmax;
      top: 30%;
      padding-top: 7%;
      height: 82vh;
  }

  .tile {
      margin-left: 10%;
  }

  .tile:nth-child(n) {
      margin-top: 0%;
      margin-left: 0%;
  }

  .tile:nth-child(3n-1) {
      /* margin-left: 10%; */
      width: 56%;
      border: 2px solid transparent;

  }

  .tile:nth-child(3n-2) {
      width: 40%;
      /* margin-left: 30%; */
      border: 2px solid transparent;
  }

  .tile:nth-child(3n) {
      margin-left: 19.2%;
      width: 50%;
      margin-top: -7%;
      border: 2px solid transparent;
  }

  .tile:nth-child(n+4) {
      margin-top: -4vmax;
  }

  /* .tile:nth-child(1) {
   margin-top: 5%;
} */
  .CollectionPageImg {

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 114%;
      z-index: 15;
      height: 128%;
      transform: rotate(209deg);
      margin-top: -11%;
      margin-left: -8%;
  }

}

/* Adding the side tab of collections page css */

.main {
  width: 100%;
  height: 1000px;
  position: fixed;
}


p,
h1 {
  color: white;

}

.sideTabContent {
  height: 700px;
  width: 400px;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  border: 2px solid white;
  overflow: hidden;
}

.sideTabContent::after {
  position: absolute;
  content: '';
  height: 44px;
  width: 51px;
  background: url('../../public/space-bg-01.jpg');
  margin-left: 381px;
  margin-top: -18px;
  border-right: 2px solid white;
  transform: rotate3d(0, 0, 1, 148deg);
  overflow: hidden;

}

.sideTabContent::before {
  position: absolute;
  content: '';
  height: 53px;
  width: 51px;
  background: url('../../public/space-bg-01.jpg');
  margin-left: 379px;
  margin-top: 663px;
  border-left: 2px solid white;
  transform: rotate3d(0, 0, 1, 32deg);
  overflow: hidden;
}

.sideTabContent2::before {
  position: absolute;
  content: '';
  height: 27px;
  width: 41px;
  margin-right: -18px;
  border-bottom: 2px solid white;
  background: url('../../public/space-bg-01.jpg');
  margin-top: -7px;

  transform: rotate3d(0, 0, 1, 50deg);
  overflow: hidden;

}


.sideTabContent2::after {
  position: absolute;
  content: '';
  height: 24px;
  width: 42px;
  margin-right: -18px;
  border-bottom: 2px solid white;
  background: url(/_next/static/media/space-bg-01.f0d74811.jpg);
  margin-top: 126px;
  transform: rotate3d(0, 0, 1, 128deg);
  overflow: hidden;
}

.sideTabContent2 {
  width: 50px;
  height: 150px;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border: 2px solid white;
  border-left: 0px;
  padding-left: 2px;
}

.sideTab {
  position: absolute;
  top: 25px;
  margin-left: 2px;
  margin-top: 25px;
  display: flex;
  width: fit-content;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 100px;
}


.collection-gallery {
  width: 100%;
  height: 80vh;
  position: relative;
  padding-bottom: 90px;
}

.black {
  position: absolute;
  content: '';
  height: 146px;
  width: 10px;
  background: black;
  margin-left: 396px;

}

.filter {
  transform: rotate3d(0, 0, 1, -90deg);
  margin-top: 52px;
  margin-right: -9px;
  font-size: 30px;
}

.bottom {

  width: 100%;
  height: 20%;
  background-color: rgb(33, 182, 77);
  transform: rotate3d(0, 0, 1, 80deg);
}

.dropSign {
  /* width: 20px;
  height: 20px; */
}

.content-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;

}

.Tabcontent {
  position: absolute;
  width: 359px;
  margin-top: 25px;
  margin-left: 14px;

}

.rightContent {
  display: flex;
  width: 56px;
  justify-content: space-between;
  align-items: center;

}

.gallery {
  height: fit-content;
}

@media (max-width: 900px) {

  .sideTabContent {
    height: 400px;
    width: 200px;

  }

  .sideTabContent::after {
    height: 44px;
    margin-left: 180px;
    margin-top: -18px;

  }

  .sideTabContent::before {

    margin-left: 179px;
    margin-top: 362px;
  }

  .sideTabContent2 {
    width: 36px;
    height: 103px;
  }

  .sideTabContent2::after {
    margin-right: -18px;
    margin-top: 78px;
  }

  .filter {
    transform: rotate3d(0, 0, 1, -91deg);
    margin-top: 30px;
    margin-right: -1px;
    font-size: 21px;
    font-weight: 20;
  }

  .black {
    height: 99px;
    width: 8px;
    margin-left: 197px;
  }

  .Tabcontent {
    width: 174px;
    margin-top: 25px;
    margin-left: 9px;
    height: 356px;
    overflow: hidden;
  }

  h1 {
    font-weight: 900;
    font-size: 15px;
  }

  .rightContent {
    width: 50px;
    justify-content: space-around;
  }

  p {
    font-size: 15px;
  }

  .dropSign {
    width: 10px;
    height: 10px;
  }
}

/* Modal of collections page*/

.modal {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.crossBtn {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 60px;
  right: 7%;
  z-index: 10;
}

.modal-content::after {
  position: absolute;
  content: '';
  height: 104px;
  width: 62px;
  left: -24px;
  bottom: 0px;
  margin-bottom: -30px;
  transform: rotate3d(0, 0, 1, -38deg);
  border-right: 2px solid white;

}

.modal-content::before {
  position: absolute;
  content: '';

  height: 102px;
  width: 62px;
  right: 0;
  margin-right: -22px;
  margin-top: -30px;
  transform: rotate3d(0, 0, 1, 141deg);
  background: initial;
  border-right: 1.5px solid white;
  z-index: 2;

}

.modal-content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 70%;
  width: 80%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 100px;
  margin: auto;
  margin-left: 20px;
  z-index: 7;
  background-image: linear-gradient(to left, transparent 65px, white 25px),
    linear-gradient(to bottom, transparent 79px, white 25px),
    linear-gradient(to right, transparent 62px, white 20px),
    linear-gradient(to top, transparent 80px, white 20px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 74px;
}

.test {
  z-index: 4;
}

.leftSide {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.modalImg {
  height: 80%;
  width: 80%;
}

.BackStory {

  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  background-image: linear-gradient(to left, transparent 31px, white 25px),
    linear-gradient(to bottom, transparent 40px, white 25px),
    linear-gradient(to right, transparent -25px, white 20px),
    linear-gradient(to top, transparent -25px, white 20px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.BackStory::before {
  position: absolute;
  content: '';
  height: 50px;
  width: 62px;
  right: 0;
  top: 0;
  margin-right: -39px;
  margin-top: -24px;
  transform: rotate3d(0, 0, 1, 141deg);
  background: initial;
  border-right: 1.5px solid white;
  z-index: 2;

}

.ClosetItems {
  height: 45%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.ProfieInfo {
  height: 15%;
  width: 94%;
  display: flex;
  align-items: center;
}

.closet-item {
  position: relative;
  margin-right: 1.5%;
  width: 31%;
  height: 18%;
  padding-left: 2%;
  background-image: linear-gradient(to left, transparent 12px, white 25px),
    linear-gradient(to bottom, transparent 16px, white 25px),
    linear-gradient(to right, transparent 8px, white 20px),
    linear-gradient(to top, transparent 10px, white 20px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;

}

.closet-item::before {
  position: absolute;
  content: '';
  height: 24px;
  width: 62px;
  right: 0;
  margin-right: -47px;
  margin-top: -21px;
  transform: rotate3d(0, 0, 1, 141deg);
  background: initial;
  border-right: 1.5px solid white;
  z-index: 2;

}

.closet-item::after {
  position: absolute;
  content: '';
  height: 18px;
  width: 62px;
  left: 0;
  bottom: 0;
  margin-bottom: 18px;
  /* bottom: 17px; */
  margin-left: -1px;
  /* margin-top: 56.7px; */
  transform: rotate3d(0, 0, 1, 141deg);
  background: initial;
  border-right: 1.5px solid white;
  z-index: 2;

}

.ProfieInfo-content {
  width: 70%;
  height: 100%;

}

.ProfieInfo-content>h1,
.ProfieInfo-content>div {
  min-width: 200px;
}

.ProfieInfo-content>div>p {
  min-width: fit-content;
}

.Profie-picture {
  width: 100%;
  height: 100%;
}

.ProfieInfo-picture {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackStory-content {
  height: 60%;
  margin-left: 2%;
  font-size: 12px;
}

.BackStory-head {
  margin-left: 2%;
  height: 20%;
}

.ProfieInfo-Inner-content {
  display: flex;
}

.Image {
  height: 60%;
  width: 60%;
}

.profile::before {
  /* position: absolute;
  content: '';
  height: 73px;
  width: 114px;
  top: -42px;
  background: white;
  z-index: 2; */
}

.profile::after {
  /* position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  top: 21px;
  transform: rotate3d(0, 0, 1, 135deg);
  background: white;
  z-index: 2; */
}

@media (max-width:1200px) {

  .closet-item {

    width: 45%;
    padding-left: 5px;
  }
}

@media (max-width:1800px) {
  .crossBtn {}
}

@media (max-width:700px) {

  .closet-item {
    width: 100%;
    margin: 2.5px 0px 2.5px 0px;
    padding-left: 5px;
  }

  .ClosetItems {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .crossBtn {}

  .Image {
    height: 30%;
    width: 80%;
  }

}

/* //////////////////////// */
.About {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.map-grid {
  width: 30%;
  height: 30%;
  margin: 0.5%;
}

.scrollBar::-webkit-scrollbar {
  display: none;
}

.scrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-f {
  height: 125vh;
  background: url('../../public/academy-archives-bg-01.jpg');
  background-repeat: no-repeat;
  margin-top: -5%;
}

.SCroolSnap {
  scroll-snap-align: center;

}

/* //////////////////////////////////// */


.holderProfileInventoryDetail::after {
  height: 104px;
  width: 62px;
  left: -24px;
  bottom: 0px;
  margin-bottom: -30px;
  transform: rotate3d(0, 0, 1, -38deg);

}

.holderProfileInventoryDetail::before {
  height: 102px;
  width: 62px;
  right: 0;
  margin-right: -22px;
  margin-top: -30px;
  transform: rotate3d(0, 0, 1, 141deg);
  z-index: 2;

}

.holderProfileInventoryDetail {
  background-image: linear-gradient(to left, transparent 65px, white 25px),
    linear-gradient(to bottom, transparent 79px, white 25px),
    linear-gradient(to right, transparent 62px, white 20px),
    linear-gradient(to top, transparent 80px, white 20px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 74px;
}

/* //////////////////////////////// */

.holderProfileInventory::before {
  height: 102px;
  width: 62px;
  right: 0;
  margin-right: -22px;
  margin-top: -30px;
  transform: rotate3d(0, 0, 1, 141deg);
  z-index: 2;

}

.holderProfileInventory {
  background-image: linear-gradient(to left, transparent 65px, white 25px),
    linear-gradient(to bottom, transparent 79px, white 25px),
    linear-gradient(to right, transparent 62px, white 20px),
    linear-gradient(to top, transparent 100%, white 20px);
  background-position: 100% 0, 100% 0, 0 100%, 0 100%;
  background-size: 100% 1px, 1px 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 74px;
  border-top-left-radius: 22%;
  border-bottom-left-radius: 22%;
}

.holderProfileInventory::after {
  height: 100%;
  width: 20vmax;
  width: height;
  z-index: 2;

}


.fix-img{
  height: 500vh;
}